---
openapi: '3.0.2'
info:
  version: 1.0.0
  title: "Trumedia docs"

# host: "petstore.swagger.io"
# basePath: "/v2"
tags:
- name: products
  description: "Everything about providers's services and orders"
#   externalDocs:
#     description: "Find out more"
#     url: "http://swagger.io"
# - name: "store"
#   description: "Access to Petstore orders"
# - name: "user"
#   description: "Operations about user"
#   externalDocs:
#     description: "Find out more about our store"
#     url: "http://swagger.io"

  

servers:
  - url: https://beta.trumedia.ru/backend/api/v1
  - url: https://beta.trumedia.ru/backend/
  - url: https://localhost/backend
  - url: https://localhost/backend/api/v1

paths:
  /products/check_cost:
    post:
      security:
        - Bearer: []
      description: Стоимость корзины
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/check_cost'
      responses:
        '200':
          description: OK
      tags:
        - products
  
  /products/orders/create:
    post:
      security:
        - Bearer: []
      description: Создать заказы
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/orders'
      responses:
        '200':
          description: OK
        '402':
          description: not enough money
      tags:
        - products
  
  /products/orders/{order_id}/owner_action:
    get:
      security:
        - Bearer: []
      description: Изменить статус заказа (Для заказчика)
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
            description: 'order_id'
        - in: query
          name: action
          required: true
          schema:
            type: string
            description: "Варианты: pay | cancel | review | close"
      responses:
        '200':
          description: OK
      tags:
        - products

  /products/orders/{order_id}/executor_action:
    get:
      security:
        - Bearer: []
      description: Изменить статус заказа (Для исполнителя)
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
            description: 'order_id'
        - in: query
          name: action
          required: true
          schema:
            type: string
            description: "Варианты: start | reject"
      responses:
        '200':
          description: OK
      tags:
        - products

  /products/orders/:
    get:
      security:
        - Bearer: []
      description: Получить заказы (Можно просмотреть только свои)
      parameters:
        - in: query
          name: provider
          schema:
            type: integer
            description: provider_id
        - in: query
          name: status
          schema:
            type: string
            description: <Оплачено>, <Ожидает оплаты>, <Отменен>, <Отклонен>, <Принят в работу>, <Ожидает согласования>, <Завершен>
      responses:
        '200':
          description: OK
      tags:
        - products
  
  /products/orders/{order_id}/executor_update:
    post:
      security:
        - Bearer: []
      description: Изменить заказ (Для исполнителя)
      parameters:
        - in: path
          name: order_id
          required: true
          schema:
            type: integer
            description: 'order_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/refresh'
      responses:
        '200':
          description: OK
      tags:
        - products

  /o/token/:
    post:
      description: Обновить токен или авторизоваться по логину/паролю
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                publication_url:
                  type: string
                  description: url 
                quill_solution:
                  type: string
                  description: quill.js text
                  example: "{\"delta\":\"{\\\"ops\\\":[{\\\"insert\\\":\\\"Напишите пж что-нибудь\\\\n\\\"}]}\",\"html\":\"<p>Напишите пж что-нибудь</p>\"}"
      responses:
        '200':
          description: Authorized
  
  /captcha:
    post:
      description: Проверить токен капчи
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                g-recaptcha-response:
                  type: string
                  description: "token"
              
      responses:
        '200':
          description: Authorized
        '406':
          description: Not Authorized

components:
  securitySchemes:
      Bearer:
        type: apiKey
        name: Authorization
        in: header
  schemas:
    refresh:
      type: object
      properties:
        grant_type:
          type: string
          example: "refresh_token"
          description: "refresh_token для обновления password для входа по логину/паролю"
        client_id:
          type: string
          example: "zywAufNhTAhF6z3KHsIqBkdjspSDH9J2DXWFDlyR"
        client_secret:
          type: string
          example: "zywAufNhTAhF6z3KHsIqBkdjspSDH9J2DXWFDlyR"
        refresh_token:
          type: string
          example: "zywAufNhTAhF6z3KHsIqBkdjspSDH9J2DXWFDlyR"
        username:
          type: string
          example: "example@mail.com"
        password:
          type: string
          example: "kek22fr"
    check_cost:
      type: array
      items:
        type: object
        properties:
          product:
            type: integer
            description: "product_id"
          options:
            type: array
            items:
              type: object
              properties:
                option: 
                  type: integer
                  description: client_id
                quantity:
                  type: integer
    orders:
      type: array
      items:
        type: object
        properties:
          product:
            type: integer
            description: "product_id"
          provider:
            type: integer
            description: "provider_id"
          user:
            type: integer
            description: "user_id"
          quill_task:
            type: string
            description: "Тз"
            example: "{\"delta\":\"{\\\"ops\\\":[{\\\"insert\\\":\\\"Напишите пж что-нибудь\\\\n\\\"}]}\",\"html\":\"<p>Напишите пж что-нибудь</p>\"}"
          options:
            type: array
            items:
              type: object
              properties:
                option: 
                  type: integer
                  description: client_id
                quantity:
                  type: integer
